.col {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.8% 0;
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0.8%;
}

@media only screen and (max-width: 600px) {
  .s1 {
    width: 6.6%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 1600px) {
  .m1 {
    width: 6.6%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 600px) {
  .s2 {
    width: 14.8%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 1600px) {
  .m2 {
    width: 14.8%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 600px) {
  .s3 {
    width: 23%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 1600px) {
  .m3 {
    width: 23%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 600px) {
  .s4 {
    width: 31.2%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 1600px) {
  .m4 {
    width: 31.2%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 600px) {
  .s5 {
    width: 39.4%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 1600px) {
  .m5 {
    width: 39.4%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 600px) {
  .s6 {
    width: 47.6%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 1600px) {
  .m6 {
    width: 47.6%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 600px) {
  .s7 {
    width: 55.8%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 1600px) {
  .m7 {
    width: 55.8%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 600px) {
  .s8 {
    width: 64%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 1600px) {
  .m8 {
    width: 64%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 600px) {
  .s9 {
    width: 72.2%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 1600px) {
  .m9 {
    width: 72.2%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 600px) {
  .s10 {
    width: 80.4%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 1600px) {
  .m10 {
    width: 80.4%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 600px) {
  .s11 {
    width: 88.6%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 1600px) {
  .m11 {
    width: 88.6%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 600px) {
  .s12 {
    width: 96.8%;
    margin-left: 1.6%;
  }
}
@media only screen and (max-width: 1600px) {
  .m12 {
    width: 96.8%;
    margin-left: 1.6%;
  }
}

/*# sourceMappingURL=style.css.map */
