body {
  display: flex;
  flex-direction: row;
}

div {
  width: 49%;
  padding: 3%;
  border: 3px solid deeppink;
  box-sizing: border-box;
}
div div {
  width: 100%;
  border: none;
}
div img {
  display: flex;
  flex-direction: column;
  width: 100%;
}
div h3 {
  margin: 5%;
  font-size: 2em;
  font-weight: bold;
}
div p {
  margin: 5%;
}
div p a {
  background-color: blue;
  border-radius: 10px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}
div p a:hover {
  background-color: rgba(0, 0, 255, 0.5);
}

/*# sourceMappingURL=style.css.map */
