.col {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-wrap: wrap;
  padding: .8% 0;
}

.row{
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 .8%;
}


$nbcolonnes: 12;
$nbgut: $nbcolonnes + 1;
$lgut: 1.6%;
$lcol: (100% - ($nbgut * $lgut)) / $nbcolonnes;

@for $i from 1 through $nbcolonnes {
  $n: $i;
  @media only screen and (max-width: 600px){
    .s#{$i} {
      width: $n * $lcol + ($n - 1) * $lgut;
      margin-left: $lgut;
    }
  }
  @media only screen and (max-width: 1600px){
    .m#{$i} {
      width: ($n * $lcol + ($n - 1) * $lgut);
      margin-left: $lgut;
    }
  }

}

@mixin grill($nbColGrill, $longGutGrill, $offsetCell, $largCell){

  $nbgut: $nbColGrill + 1;
  $lcol: (100% - ($nbgut * $longGutGrill)) / $nbColGrill;

  width: $longCell * $lcol + ($largCell - 1) * $longGutGrill;
  margin-left: $offsetCell * $lcol + ($offsetCell + 1) * $longGutGrill;

}

