@mixin bouton($largeur, $colorBton){
  background-color: $colorBton;
  border-radius: 10px;
  text-align: center;
  color: $colorTxt;
  @include Width($largeur);
  &:hover{
    background-color: transparentize($colorBton, .5%);
  }
}