@import "_myThumb";

$largeur: 49%;
$colorBtn: blue;
$colorInt: beige;
$colorTxt: white;

@mixin Width($lar){
  display: flex;
  flex-direction: column;
  width: $lar;
}

body{
  display: flex;
  flex-direction: row;
}

div{
  width: $largeur;
  padding: 3%;
  border: 3px solid deeppink;
  box-sizing: border-box;

  div{
    width: 100%;
    border: none;
  }

  img{
    @include Width(100%);
  }

  h3{
    margin: 5%;
    font-size: 2em;
    font-weight: bold;
  }

  p{
    margin: 5%;
    a{
      @include bouton(100%,blue);
    }
  }

}