.content {
  width: 100%;
  height: auto;
  background: beige;
  font-size: large;
  padding: 5%;
}
.content h1 {
  font-size: 2em;
  font-weight: bold;
}
.content h1:hover {
  font-size: 4em;
  background: #dede8d;
}

/*# sourceMappingURL=0.css.map */
