.content, section {
  width: 100%;
  height: auto;
  background: beige;
  font-size: large;
  padding: 5%;
}
.content h1, section h1 {
  font-size: 2em;
  font-weight: bold;
}
.content h1:hover, section h1:hover {
  font-size: 4em;
  background: #dede8d;
}

section {
  border: 3px solid green;
  margin: 5%;
}

/*# sourceMappingURL=ex0.css.map */
