$colorFav : beige;
$fullWidth: 100%;
$auto: auto;
$large: large;
$cinq : 5%;
$em2 : 2em;
.content{
  width: $fullWidth;
  height: $auto;
  background: $colorFav;
  font-size: $large;
  padding: $cinq;

  h1{
    font-size: $em2;
    font-weight: bold;

    &:hover{
      font-size: $em2 * 2;
      background: darken($colorFav, 20%);
    }
  }
}


