@import '0';
$colorFav : cyan;

section{
  @extend .content;
  border: 3px solid green;
  margin: 5%;
}

@media only screen and (min-width: 65em){
  article{
    //@extend .content; /* You may not extend selectors across media queries */
  }
}